/* Core Owl Carousel CSS File v1.3.3 */
 
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
	-moz-transform: translate3d(0px, 0px, 0px);
	-o-transform: translate3d(0px, 0px, 0px);
	-ms-transform: translate3d(0px, 0px, 0px);
	transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%; 
	padding-bottom: .2em;
} 
	
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page, .owl-controls .owl-buttons div {
    cursor: pointer;
    display: inline-block;
    margin: 0 0.3em;
	display:none;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.owl-buttons div{
    color: transparent;
}
.owl-buttons .owl-prev:before,.owl-buttons .owl-next:after  {
    content: "\f104";
    font-family: 'FontAwesome';
    color:#fff;
    font-size: 2em;
    line-height: 1.25em;
    position: absolute;
	top:45%;
	opacity:.3;
}
.owl-buttons .owl-prev:before{
	left: 2%;
}
.owl-buttons .owl-next:after {
    content: "\f105"; 
	right:2%;
}
.owl-carousel .owl-wrapper:hover .owl-buttons .owl-prev:before,
.owl-carousel .owl-wrapper:hover .owl-buttons .owl-next:after{
	opacity:1;
}
/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
} 
/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
}  
.owl-pagination {
    display: none;
}
@media(max-width:640px){
.owl-controls .owl-page, .owl-controls .owl-buttons div { 
    width: 36px;
    height: 30px;
}
.owl-buttons .owl-prev:before, .owl-buttons .owl-next:before { 
    font-size: 1.5em;
    line-height: 1.4em; 
}
}
@media(max-width:480px){
.owl-buttons { 
    top: -17%; 
}
}
@media(max-width:414px){
.owl-buttons {
    top: -15%;
}
}
@media(max-width:375px){
.owl-buttons { 
    top: -32px; 
}
}